.loader {
  margin: auto;
  border: 8px solid #eaf0f6;
  border-radius: 50%;
  border-top: 8px solid #159a9c;
  width: 75px;
  height: 75px;
  animation: spinner 2.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
